<div class='row'>
  <div class='col-lg-6'>
    <form class='comment-body' enctype="multipart/form-data" method="POST" action="/news/comment">
      <input type="id" name="id" placeholder="id">
      <input type="text" name="text" placeholder="text">
      <input type="file" name="attachments">
      <button id="btn-comment" type="submit">Отправить коменнтарий</button>
    </form>
  </div>
</div>